<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.min.js"></script>
</head>
<body>
<div id="app">
    <todo>
        <todo-title slot="todo-title" :title="title"></todo-title>
        <todo-items slot="todo-items" v-for="(item,index) in items" :item="item" :index="index"
         v-on:remove="removeItems"></todo-items>
    </todo>
</div>
<!--插槽-->
<script>
    Vue.component("todo",{
        template: '<div>\
                   <slot name="todo-title"></slot>\
                   <ul>\
                   <slot name="todo-items"></slot>\
                   </ul>\
                   </div>'
    });
    Vue.component("todo-title",{
        props: ['title'],
        template: '<div>{{title}}</div>'
    });
    Vue.component("todo-items",{
        props: ['item','index'],
        template: '<li>{{index}}---{{item}}<button @click="remove">删除</button></li>',
        methods: {
            remove: function (index) {
                this.$emit('remove',index);
            }
        }
    });
    var vm=new Vue({
            el: "#app",
            data: {
                title: "帅气的测试",
                items: ["java","python","cpp"]
            },
            methods: {
                removeItems: function (index) {
                    this.items.splice(index,1);
                }
            }

    })
</script>
</body>
</html>