<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhu.mapper.UserLeaveMapper">
    <insert id="saveLeave" parameterType="UserLeave">
        insert into userleave(id,name,reason,leave_status,department_name,employeeId,startDate,endDate)
        values (#{id},#{name},#{reason},0,#{departmentName},#{employeeId},#{startDate},#{endDate});
    </insert>
    <select id="selectAllById" parameterType="int" resultType="UserLeave">
        select * from userleave where employeeId=#{id};
    </select>
    <select id="selectAllLeave" resultType="UserLeave">
        select * from userleave;
    </select>
    <update id="updateLeaveById" parameterType="int">
        update userleave set leave_status=1 where id=#{id};
    </update>
    <update id="updateLeaveById2" parameterType="int">
        update userleave set leave_status=2 where id=#{id};
    </update>

    
</mapper>